h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Layout container for sidebar and map */
.layout-container {
  display: flex;
  width: 100%;
  /* height: calc(100% - 40px); Adjust based on padding */
  height: calc(100vh - 50px);
}

.search-box {
  margin-bottom: 20px;
}

/* Styles for the sidebar */
.sidebarStyle {
  flex: 0 0 300px; /* Fixed width for the sidebar */
  background: #f9f9f9;
  padding: 15px;
  overflow-y: auto;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out; /* Smooth transition for hide/show */
}

.sidebarStyle.hidden {
  display: none;
}

/* Styles for the map container */
.map-container {
  flex: 3;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  /* border-radius: 8px; */
  width: 100%; /* Full width */
  /* height: calc(100vh - 50px); */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  /* padding: 20px; */

  /* flex: 1;
  height: 100%; */
}

.in,
input[type="file"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.form-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}

a {
  color: #0078d7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Scrollbar styles for sidebar */
.sidebarStyle::-webkit-scrollbar {
  width: 8px;
}

.sidebarStyle::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebarStyle::-webkit-scrollbar-thumb {
  background: #888;
}

.sidebarStyle::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.media-content {
  /* max-width: 80%;
  max-height: 80vh;
  margin-top: 20px; */

  width: 100%;
  max-height: 60vh;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}

/* Navbar columns for organizing items */
.navbar-col {
  display: flex;
  align-items: center;
}

/* Style for icons and clickable items in the navbar */
#icon-header, #auth-buttons {
  cursor: pointer;
  margin-right: 20px;
}

/* Header text style */
#icon-header h1 {
  font-size: 24px;
  margin: 0;
  color: #f2f2f2;  /* Light grey color for visibility */
}

/* Hover effect for interactive elements */
#icon-header:hover, #auth-buttons:hover {
  opacity: 0.8;
}

/* Image styling for icons in the navbar */
.navbar img {
  filter: brightness(0) invert(1);  /* Makes images white to match the text color */
  margin-right: 20px; /* Add margin to space out elements */
}

/* Button styling */
.toggle-sidebar-btn {
  background-color: #fff; /* Green background */
  color: #333;
  border: none;
  padding: 8px 20px; /* Padding for size */
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}


.toggle-sidebar-btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  background-color: #f0f0f0; /* Slightly darker background on hover */
}

/* Media query for responsive design on smaller screens */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-col {
    margin: 5px 0;
    justify-content: space-between;
  }
}

/* Container style for the About section */
.about-container {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style for the heading in the About section */
.about-container h1 {
  color: #333;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

/* Paragraph styling in the About section */
.about-p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin: 0 40px;
}